* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    color: #f9faf8;
    font-size: 18px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

/* main */

.main {
    background-color: #1f2937;
    height: 400px;
    display: flex;
}

.left {
    color: #f9faf8;
    display: flex;
    align-items: center;
}

button {
    background-color: #3882f6;
    border-radius: 12px;
    padding: 10px 20px
}

.projects {
    background-color: rgb(128, 128, 128);
}

.quote {
    background-color: rgba(0, 128, 21, 0.467)
}

.footer {
    background-color: #1f2937;
}