* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */

.header {
    background-color: #1f2937;
    color: #f9faf8;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.header ul, a {
    list-style: none;
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    gap: 20px;
}

/* main */

.main {
    background-color: #1f2937;
    height: 450px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left {
    color: #f9faf8;
    flex-direction: column;
    max-width: 450px;
}

.left h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.left p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #e5e7eb;
}

.main button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
    border: #3882f6 solid;
    height: 35px;
    width: 120px;
}

.img {
    height: 230px;
    width: 500px;
    margin-left: -380px;
    background-color: #c4c6ca7c;
    color: #f9faf8;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Random info section */

.projects {
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.projects h1 {
    font: 36px;
    font-weight: extra-bold;
    text-align: center;
    margin: 50px 0 70px 0;
}

.item {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info {
    max-width: 200px;
    border: #3882f6 solid 4px;
    border-radius: 16px;
    height: 160px;
    width: 160px;
}

.projects-text {
    display: flex;
    justify-content: center;
    color: #6d6e70;
}

.projects-text #one, #two, #three {
    max-width: 150px;
    margin: 10px 35px;
}

/* quote section */

.quote {
    background-color: #e5e7eb;
    height: 440px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 300px;
}

.author-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 70;
    font-style: italic;
}

.author {
    font-size: 21px;
    font-weight: 700;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

/* footer */

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    height: 70px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}